antiquacrm/src/xml/BookInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Hugh Hart (private) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Monica Granbois (Abebooks Inc) -->
<!-- Abebooks.com -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xbl="http://www.abebooks.com/BookListingXml" targetNamespace="http://www.abebooks.com/BookListingXml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="BookListingInventory">
		<xs:annotation>
			<xs:documentation>Contains a list of BookListing elements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xbl:BookListing" maxOccurs="5000"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookListing">
		<xs:annotation>
			<xs:documentation>The listingDocument is the vendor's xml description of a Listing/book.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xbl:vendorListingid"/>
				<xs:element ref="xbl:title" minOccurs="0"/>
				<xs:element ref="xbl:author" minOccurs="0"/>
				<xs:element ref="xbl:illustrator" minOccurs="0"/>
				<xs:element ref="xbl:editor" minOccurs="0"/>
				<xs:element ref="xbl:price"/>
				<xs:element ref="xbl:quantity"/>
				<xs:element ref="xbl:shippingMultiplier" minOccurs="0"/>
				<xs:element ref="xbl:publisher" minOccurs="0"/>
				<xs:element ref="xbl:description" minOccurs="0"/>
				<xs:element ref="xbl:subject" minOccurs="0"/>
				<xs:element ref="xbl:bookCondition" minOccurs="0"/>
				<xs:element ref="xbl:jacketCondition" minOccurs="0"/>
				<xs:element ref="xbl:bookType" minOccurs="0"/>
				<xs:element ref="xbl:size" minOccurs="0"/>
				<xs:element ref="xbl:edition" minOccurs="0"/>
				<xs:element ref="xbl:inscriptionType" minOccurs="0"/>
				<xs:element ref="xbl:volumeText" minOccurs="0"/>
				<xs:element ref="xbl:printingText" minOccurs="0"/>
				<xs:element ref="xbl:language" minOccurs="0"/>
				<xs:element ref="xbl:weight" minOccurs="0"/>
				<xs:element ref="xbl:synopsis" minOccurs="0"/>
				<xs:element ref="xbl:universalIdentifier" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="xbl:abeCategory" minOccurs="0" maxOccurs="20"/>
				<xs:element ref="xbl:buyerSearchAttribute" minOccurs="0" maxOccurs="20"/>
				<xs:element ref="xbl:picture" minOccurs="0" maxOccurs="5"/>
				<xs:element ref="xbl:resellerExclusion" minOccurs="0" maxOccurs="10"/>
				<xs:element ref="xbl:vendorCatalog" minOccurs="0" maxOccurs="10"/>
				<xs:element ref="xbl:customField" minOccurs="0" maxOccurs="20"/>
			</xs:sequence>
			<xs:attribute name="listingsid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="typecode" type="xs:integer" use="required"/>
			<xs:attribute name="deletestatus" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="updatedate" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="750"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bookCondition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorCatalog">
		<xs:annotation>
			<xs:documentation>The catalog id is returned to the vendor by ABE-API 20</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Abebooks internal catalogid</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="4000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="edition">
		<xs:complexType>
			<xs:attribute name="editionNumber" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:positiveInteger">
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="editionText" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="illustrator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="inscriptionType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="jacketCondition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="currency" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:length value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishPlace">
		<xs:annotation>
			<xs:documentation>Publisher place information restricted to a total of 750 characters.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="xbl:publishCity" minOccurs="0"/>
				<xs:element ref="xbl:publishRegion" minOccurs="0"/>
				<xs:element ref="xbl:publishCountryISO" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishCountryISO">
		<xs:annotation>
			<xs:documentation>The two character country iso code</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publishRegion">
		<xs:annotation>
			<xs:documentation>The publish state, province or region </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publishCity">
		<xs:annotation>
			<xs:documentation>Publish city</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publishYear">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publisher">
		<xs:annotation>
			<xs:documentation>Publisher name information restricted to a total of 750 characters.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="xbl:publisherName" minOccurs="0"/>
				<xs:element ref="xbl:publishPlace" minOccurs="0"/>
				<xs:element ref="xbl:publishYear" minOccurs="0"/>
				<xs:element ref="xbl:publishYearText" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="size">
		<xs:annotation>
			<xs:documentation>Describes the proportions of a book </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subject">
		<xs:annotation>
			<xs:documentation>Subject or kewords associted with the listing.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:annotation>
			<xs:documentation>Title</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="750"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bookType">
		<xs:annotation>
			<xs:documentation>Vendors Discriptive </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorListingid">
		<xs:annotation>
			<xs:documentation>AKA vendorBookID. The vendors SKU</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="customField">
		<xs:annotation>
			<xs:documentation>A listing/book may contain up to 10 customFeild tags.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="editor">
		<xs:annotation>
			<xs:documentation>The book Editor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publishYearText">
		<xs:annotation>
			<xs:documentation>Formatted bibliographic publish date </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="volumeText">
		<xs:annotation>
			<xs:documentation>Formatted bibliographic voulme information</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="printingText">
		<xs:annotation>
			<xs:documentation>Formatted bibliographic printing information</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="buyerSearchAttribute">
		<xs:annotation>
			<xs:documentation>Abebooks standardized buyer search attributes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>id - represents the Buyer Serach Attribute Code (BSACode)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="weight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="units" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="lb"/>
								<xs:enumeration value="g"/>
								<xs:enumeration value="oz"/>
								<xs:enumeration value="kg"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="shippingMultiplier">
		<xs:complexType>
			<xs:attribute name="all" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Using the "all" attrubute applies the shipping multiplier to all your shipping rates for this Listing.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="internationalstd" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Applies the shipping multiplier to your international standard shipping rate for this listing.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="domesticstd" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Applies the shipping multiplier to your domestic standard shipping rate for this listing.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="internationalpriority" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Applies the shipping multiplier to your international priority shipping rate for this listing.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="domesticpriority" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation>Applies the shipping multiplier to the domestic priority shipping rate for this listing.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="resellerExclusion">
		<xs:complexType>
			<xs:attribute name="keyword" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOAMZCOM"/>
						<xs:enumeration value="NOBN"/>
						<xs:enumeration value="NOAMZDE"/>
						<xs:enumeration value="NOAMZCOUK"/>
						<xs:enumeration value="NOAMZFR"/>
						<xs:enumeration value="NOAMZCA"/>
						<xs:enumeration value="NOABECOUK"/>
						<xs:enumeration value="NOABECOM"/>
						<xs:enumeration value="NOABECA"/>
						<xs:enumeration value="NOABEDE"/>
						<xs:enumeration value="NOABEFR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:annotation>
			<xs:documentation>The language of the listing (Book is written in english = eng)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="languageisocode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="picture">
		<xs:annotation>
			<xs:documentation>A list of pictures</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="url" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:maxLength value="250"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rank" type="xs:int" use="optional">
				<xs:annotation>
					<xs:documentation>If you upload more than one picture url they must be ranked in order of display importance. ie 1 = primary, 2 = secondary, etc</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="universalIdentifier">
		<xs:annotation>
			<xs:documentation>ISBN, LCCN, ASIN, ABEN, etc..</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="numberType" use="optional" default="isbn">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:maxLength value="15"/>
						<xs:enumeration value="isbn"/>
						<xs:enumeration value="lccn"/>
						<xs:enumeration value="asin"/>
						<xs:enumeration value="aben"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="number" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="preserve"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isvalid" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="abeCategory">
		<xs:annotation>
			<xs:documentation>The ABECategories GroupID for categorizing listings using Abebooks categories</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="groupid" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisherName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="750"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="synopsis">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantity">
		<xs:complexType>
			<xs:attribute name="limit" use="optional" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="restrict"/>
						<xs:enumeration value="infinite"/>
						<xs:enumeration value="backorderd"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="amount" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
